.container {
    border: 2px solid red;
}

[class*="col-"] {
    border: 1px solid black;
    height: 100%;
}

/* da cancellare  */
.ms_h100{
    height: 100px;
}

.ms_h500 {
    height: 500px;
}

.ms_h300 {
    height: 300px;
}

/* /da cancellare */

/* stili generali */


/* /stili generali */



/* header */

.header_container {
    margin: 50px 0;
}

/* header */

/* 3 sezione  */

.third_section_container >* {
    margin: 30px 0;
}

/* /3 sezione */

/* 5 sezione */

.lower_text {
    margin: 50px 0;
}

/* /5 sezione */

/* 6 sezione */

.sixth_section_container >* {
    margin: 50px 0;
}

/* /6 sezione */





@media screen and (min-width:1200px) {

    .lower_text {
        margin: 0;
    }

}