body {
    text-align: center;
    padding-top: 50px;
}

.container {
    /* border: 2px solid red; */
}

[class*="col-"] {
    /* border: 1px solid black; */
    height: 100%;
}

/* da cancellare  */
.ms_h100{
    height: 100px;
}

.ms_h500 {
    height: 500px;
}

.ms_h300 {
    height: 300px;
}

/* /da cancellare */

/* stili generali */

.typo_h2 {
    color: #031c4e;
    font-weight: bold;
}

.typo_p {
    font-weight: bold;
    color: grey;
}

.blue {
    color: #031c4e;
}

.white {
    color: white;
}

/* /stili generali */

/* nav bar */

nav {
    line-height: 100px;
    background-color: white;
}

    .logo_container > img {
    width: 200px;
}

.nav_container {
    /* height: 50px; */
}

.menu_hamburger, .lg_menu_hamburger {
    text-align: right;
}

.menu_hamburger i, .lg_menu_hamburger i {
    font-size: 30px;
    color: #3a8aff;
}

#second_area {
    padding-left: 0;
    padding-right: 0;
}

.menu_item{
    list-style: none;
}

.menu_item li {
    color:#031c4e ;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    padding: 3px;
}


/* /nav bar */



/* header */
header {
    background-image: url('../img/bg-home-1.jpg');
}

.header_container {
   padding: 100px 0;
}

.form_area {
    padding: 30px 0;
}

.header_container h1, .header_container> .col-xs-12 > p {
    color: white;
    font-weight: bold;
}

.header_container .header_text p {
    font-size: 20px;
}

.registration {
    background-color: white;
    border-radius: 5px;
}

.registration h2:first-child {
    color: #031c4e;
    font-weight: bold;
}

.registration h2:last-child {
    color: #006aff;
    font-weight: bold;
}

#blue_button, #google_button {
    width: 100%;
    background-color: #579aff;
    color: white;
    font-weight: bold;

}

#google_button {
    background-color: white;
    color: grey;
}

#google_button:before {
    content: '';
    background: url('../img/google-icon.png');
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    background-size: cover;
}

/* header */


/* 1sezione */

#first_section_container {
    background-color: #f3f5f9;
}

.first_section {
    margin-top: 50px;
    color: grey;
}

.first_section [class*="col-"]:not(.final_link) {
   height: 90px;
   position: relative;
}

.first_section img {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sixty img {
    width: 60%;
}

.seventy img {
    width: 70%;
}

.eighty img {
    width: 80%;
} 

.final_link {
    font-weight: bold;
}


/* /1sezione */

/* 2sezione */

.selection {
    border-left: 2px solid grey;
    padding: 20px 0;
    
}

.selection a {
    color: grey;
    line-height: 1.6;
}

.deploy {
    text-align: left;
    padding: 20px 0;
}


.deploy h4 {
    font-weight: bold;
    color: #031c4e;
}

.deploy p {
    font-weight: bold;
    color: grey;
}

/* /2sezione */

/* 3 sezione */

.third_section_container h4 {
    color: grey;
    font-weight: bold;
}

.third_section_image img {
    width: 60%;
    padding: 50px 0;
}

.fa-circle:first-child {
    color: #006aff;
}

.fa-circle:not(.fa.circle:first-child){
    color: #006aff;
}


.left_arrow i, .right_arrow i {
    font-size: 30px;
    color: #6f7b97;
    margin-right: 10px;
}

.right_arrow i {
    color: #031c4e;
}

/* /3 sezione */

/* 4sezione */

.fourth_section_container [class*="col-"]:not([class*="col-"]:first-child) {
    text-align: left;
    padding: 20px;
}

.fourth_section_container a {
    font-weight: bold;
}

.fourth_section_container i {
    margin-left: 10px;
}

/* /4sezione */



/* 5 sezione */

#fifth_section {
    background-color: #0046c4;
    padding: 50px;
}


.lower_text {
    margin: 50px 0;
}

.data_region {
    border-bottom: 1px solid white;
    margin-top: 20px;
}

.region_container .col-xs-2 p:first-child {
    color: white;
    font-weight: bold;
}

.region_container .col-xs-3 a {
    color: #00d7d2;
    font-size: 12px;
}
.region_container .col-xs-3 i {
    margin-left: 5px;
}

/* /5 sezione */

/* 6 sezione */

#sixth_section {
    background-color: #f3f5f9;
}

.sixth_section_container >* {
    margin: 50px 0;
}

.rockerbox_container {
    background-color: white;
    padding: 50px 0;
}

.rockerbox_container img {
    width: 80%;
}

.rockerbox_container p {
    color: #031c4e;
    font-weight: bold;
    margin-bottom: 0;
}

.rockerbox_container p:nth-child(4){
    font-weight: normal;
    margin-bottom: 30px;
}

.rockerbox_container i {
    margin-left: 10px;
}

.arrow_container::before {
    content: "\f104";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 40px;
    position: absolute;
    left: -50px;
    top: 50%;
    transform: translate(0, -50%);
    color: #6f7b97;
} 

.arrow_container::after {
    content: "\f105";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 40px;
    position: absolute;
    right: -50px;
    top: 50%;
    transform: translate(0, -50%);
    color: #031c4e;
}

/* /6 sezione */


/* 7 sezione */

#seventh_section {
    background-color: #0039b3;
}

.get_started_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.get_started_container h2 {
    color: white;
    font-weight: bold;
}

.get_started_container a {
    color: #006aff;
    background-color: white;
    font-weight: bold;
    padding: 10px;
    font-size: 16px;
}

/* /7 sezione */


@media screen and (max-width:991px) {
    .arrow_container::before, .arrow_container::after {
        display: none;
    }
}



@media screen and (min-width:1200px) {

    .lower_text {
        margin: 0;
    }


    .menu_hamburger i:first-child {
        display: none;
    }

    .menu_hamburger .menu_item li a {
        border: 1px solid #3a8aff;
        padding: 5px;
        border-radius: 5px;
    }

}